
#header-container {
    position: relative;
}

#main-container {
    position: relative;
    padding-left: 20px;
}

section h2 {
    color: tomato;
}

h5#happy {
    color: red;
    text-align: center;
}

h5#sad {
    color: gray;
    text-align: center;
}

div.column {
    float: left;
    width: 50%;
    height: 100;
}
#movies-section {
    float: right;
}

div.column img {
    display: block;
    border-radius: 4%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: cyan;
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: green;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: rgb(255, 148, 105);
    text-decoration: underline
}
  
/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}

#name-block {
    position: absolute;
    top: 120px;
    left: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

#name-block h6 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    color: #101010;
    font-size: 14px;
}

p#username:first-letter {
    float: left;
    font-size: 1.5em;
    margin-top: -0.1em;
    padding-right: 4px;
}

#name-block h5 {
    padding-left: 100px;
    font-family: Optima, "Segoe UI", sans-serif; 
    font-size: 18px;
    font-style: italic;
    font-variant: normal; 
    color: #101010;
}

#username {
    padding-left: 50px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    color: darkred;
}

#movies ol>li {
    font-size: 1.2em;
    color: darkturquoise;
}

#movies ol>li>ul {
    font-size: 0.8em;
    color: white;
}

ol { 
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}